*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    background: #eef3ff;
}

.sidebar{
    width: 260px;
    background: #002b5c;
    height: 100vh;
    color: white;
    padding: 25px 20px;
    position: fixed;
}

.sidebar h2{
    font-size: 26px;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    padding: 14px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.sidebar ul li:hover,
.sidebar ul .active{
    background: #ffdd00;
    color: black;
}

.content{
    margin-left: 260px;
    width: calc(100% - 260px);
    padding: 25px;
}

header h1{
    font-size: 38px;
    font-weight: 800;
    color: #002b5c;
}

.sub-heading{
    margin-top: 5px;
    font-size: 18px;
    opacity: .7;
}

.course-section{
    margin-top: 30px;
}

.course-section h2{
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #002b5c;
}

.course-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.course-card{
    padding: 25px;
    border-radius: 18px;
    color: white;
    transition: transform .25s;
}

.course-card:hover{
    transform: translateY(-7px);
}

.course-card h3{
    font-size: 22px;
    margin-bottom: 8px;
}

.course-card p{
    font-size: 15px;
    margin-bottom: 18px;
}

.course-card button{
    padding: 10px 30px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    color: black;
}

.red{ background:#ff4e4e; }
.blue{ background:#1e88e5; }
.green{ background:#43a047; }
.yellow{ background:#fbc02d; color:black; }
.purple{ background:#6a1b9a; }
.pink{ background:#d81b60; }
.dark{ background:#263238; }
.sky{ background:#00acc1; }